<% if object.errors.any? %>
  <div id="error_explanation" class = 'alert-danger form-errors'>
    <h6><%= pluralize(object.errors.count, "error") %> prohibited this
        <%= object.class.to_s.humanize(capitalize: false) %>
       from being saved:</h6>

    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
