<%= form_with(model: post, local: true, url: yield(:submit_link)) do |form| %>
  <%= render 'shared/errors', object: post %>
  <div class="form-group">
    <%= form.text_area :body, placeholder: 'Type your post here',
      class: 'form-control', rows: '10' %>
  </div>

  <div class="actions">
    <%= form.submit  class: 'btn btn-primary'%>
  </div>
<% end %>
