@import "bootstrap";

div.alert-alert {
  background-color: #FAA;
}

div.alert-notice {
  background-color: #ACF;
}
div.form-errors {
  padding: 7px 7px 1px 7px;
}

div.change-gravatar {
  padding: 20px 0;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
}
.btn-primary {
  width: 100%;
}

div.cancel-form {
  padding: 20px 0 0 0;
}
